
* margin {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	background-color: mintcream;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.form {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.form-container {
	margin-left: 5%;
	margin-bottom: 10%;
}

.table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
	height: 50px;
}