<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>javamvc.http</display-name>
	<welcome-file-list>
		 <welcome-file>index.html</welcome-file> <welcome-file>index.html</welcome-file> 
			<welcome-file>index.jsp</welcome-file> <welcome-file>default.html</welcome-file> 
			<welcome-file>default.htm</welcome-file>
		
	</welcome-file-list>

	<servlet>
		<servlet-name>HttpRequestResponse</servlet-name>
		<servlet-class>com.kodecamp.servlets.HttpRequestResponse</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HttpRequestResponse</servlet-name>
		<url-pattern>/requestResponse</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FormInput</servlet-name>
		<servlet-class>com.kodecamp.servlets.FormInputServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FormInput</servlet-name>
		<url-pattern>/inputForm</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>StudentsList</servlet-name>
		<servlet-class>com.kodecamp.servlets.StudentsList</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>StudentsList</servlet-name>
		<url-pattern>/listofstudents</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddNewStudent</servlet-name>
		<servlet-class>com.kodecamp.servlets.AddNewStudent</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddNewStudent</servlet-name>
		<url-pattern>/students/new</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateStudent</servlet-name>
		<servlet-class>com.kodecamp.servlets.UpdateStudent</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UpdateStudent</servlet-name>
		<url-pattern>/students/update</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
	<servlet-name>Login</servlet-name>
	<servlet-class>com.kodecamp.servlets.Login</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>Login</servlet-name>
	<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<!-- Filter -->
   	<filter>
	<filter-name>Authentication</filter-name>
	<filter-class>com.kodecamp.filter.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
	
	<filter-name>Authentication</filter-name>
	<url-pattern>/students/update</url-pattern>
	<url-pattern>/students/new</url-pattern>
	<url-pattern>/listofstudents</url-pattern>
	
	</filter-mapping> 
	<!-- End Filter -->

</web-app>